<h2>Create a new drone</h2>

<form method="post" action="/drones/create">

  <label>Name</label>
  <input name="name" />
  <label>Propellers</label>
  <input name="propellers" />
  <label>Max Speed</label>
  <input name="maxSpeed" />

  <button type="submit"> Create drone </button>
</form>