<h2>Create a new drone</h2>

<form method="post" action="/create">
  <label>Name</label>
  <input name="name" />
  <label>Propellers</label>
  <input name="propellers" />
  <label>MaxSpeed</label>
  <input name="maxSpeed" />

  <button type="submit"> Create drone </button>
  
</form>